# Jupyter Notebook artifacts #
##############################
.ipynb_checkpoints/

# Documentation clutter #
#########################
docs/_build
docs/jupyter_notebook_server.png
docs/README.md
docs/**/*.ipynb

# Data artifacts #
##################
*.h5
*.npy
*.p
run_example.py
PyDynamic_tutorials/deconvolution/AmplitudeData
PyDynamic_tutorials/deconvolution/HydrophonCalibrationData
PyDynamic_tutorials/deconvolution/MeasuredSignals/M-Mode 3 MHz
PyDynamic_tutorials/deconvolution/MeasuredSignals
